@import './scss/abstracts/fonts.scss';
@import './scss/abstracts/icons.scss';
@import './scss/abstracts/variables.module.scss';

* {
    box-sizing: border-box;
  }
  
  html,
  body,
  #root {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
  body {
    background: $darker;
  }
  